body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

* {
  text-decoration: none;
  color: rgb(50,50,50);
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}

.no-border  {
  border: none;
}
